@{
    ViewBag.Title = "О приложении";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Приложение реализует функционал добавления, удаления контактов, используя WCF сервис.</p>
<p><a href="https://github.com/sentdyem" class=" btn btn-success">GitHub разработчика</a></p>
