@model ContactBook.ServiceReference.Contacts

@{
    ViewBag.Title = "Удаление контакта";
}

<h3>Вы действительно хотите удалить контакт?</h3>
<div>
    <h6>После удаления контакта, восстановить запись будет невозможно!</h6>
    <hr />
    <dl class="dl-horizontal text-left">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            <a href="/Home/Index" class="btn btn-primary">К списку контактов</a>
        </div>
    }
</div>
